#top
{
height:100px ;
background-color: #3c5a99; 
color: white; 
padding-left: 4px;
}
#signup

{
    
    width: 70px;
    text-align: center;
    padding: 4px;
    background-color: #42b72a;
    border-radius: 5px;
    float: right;
   
}
.pass input{
    background-color: #222831;
    color: rgb(240, 236, 236);
}

.center
{
    background-color: #2f3742; 
    width: 420px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 1%;
}
#text
{
    height: 40px;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #ccc;
    
}
#button
{
    width: 74%;
    height: 40px;
    border:none ;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    background-color: #3c5a99;
    color: white;
}
#button:hover{
    background-color: rgb(38, 90, 158);
}
h3{
    color: rgb(182, 205, 248);
}