#top
{
height:100px ;
background-color: #3c5a99; 
color: #f5f6f7; 
padding-left: 4px;
}

#signup
{
    width: 70px;
    text-align: center;
    padding: 4px;
    background-color: #42b72a;
    border-radius: 5px;
    float: right;
   
}
h3{
    margin-top: 10px;
    color: rgb(214, 214, 214);
}


.center{
position:sticky;
text-align: center;
background-color: #2f3742; 
margin: auto;
margin-top: 50px;
width: 420px;
border-radius: 2%;
padding: 15px;


}


#submit{
margin-top: 8px;
width: 77%;
height: 33px;
background: #3c5a99;
font-weight: 3px;
font-size: 100%;
color: white;
border-radius: 4px;
border: none;

}
#submit:hover{
    background-color: rgb(38, 90, 158);
}
.gender{
    color: rgb(228, 226, 226);
}

.textbox
{
border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #ccc;
    background-color: #222831;
    color: rgb(214, 214, 214);
width: 260px;
height: 30px;
}
.textbox3
{
border-radius: 4px;
margin-bottom: 12px;
border: solid 1px #ccc;
width: 310px;
height: 30px;
background-color: #222831;
    color: rgb(240, 236, 236);

}
.textbox1
{
border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #ccc;
width: 150px;
height: 30px;
background-color: #222831;
    color: rgb(240, 236, 236);
}