*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    background-color:rgb(218, 213, 213);
    text-align: center;
}

    /* NAVIGATION BAR */
.navbar{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    background: #f5f5f5;
    z-index: 9; 
}
.nav{
    padding: 10px 10vw;
    display:flex;
    justify-content: space-between;
 
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 910px;
}
.search-box{
    width: 70%;
    height: 40px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border: 1px solid #d1d1d1;
    padding: 20px;
    text-transform: capitalize;
    background: none;
    color: #302d2d;
    outline: none;
} 
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.nav-items a{
    margin-left: 20px;
}
.nav-items a img{
    width: 30px;
    
}
.dropdown
{
    margin-left: 80px;
    margin-bottom: 10px;
}

        /*HEADER*/

h1{
    height:60px;
    font-size: 35px;
    display: flex;
    align-items: center;
}
h3{
    text-align:center;
    font-size: 30px;
    color:darkgray;
}
.bottom-mid{
    font-size: 50px;
    font-weight: bold;
    text-align: center; 
}


        /*DROPDOWN MENU */

.menu{
    background-color: rgb(2, 2, 51);
    text-align: center;
    
}   
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    width: 150px;
    margin: 10px;            /*   providing margin,space and padding for menu in black backgorund*/
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;     /* Menu word color, font and removing hyperlink display*/
    color: white;
    font-family: arial;
}
.fa{
margin-left: 5px;                  /* icon spacing*/
}
.menu ul li:hover{
    background-color: tomato;   /* hover color */
}
.dropdown1{
    display: none;
    z-index: 2;               /* dropdown menu  aka submenu display is removed*/
}
.menu ul li:hover .dropdown1{
    display: block;
    position: absolute;
    background-color: rgb(50, 50, 50);
    margin-top: 15px;                             /* postitioning of submenu */
    margin-left: -25px;                           /* positioning of submenu*/
}
.menu ul li:hover .dropdown1 ul               {
    display: block;               /* submenu becomes verical in line*/
}
.menu ul li:hover .dropdown1 ul li{
    background: transparent;                          /* submenu hover color removed and underline added */
    border-bottom: 1px solid tomato;
    width : 150px;
}
.menu ul li:hover .dropdown1 ul li a:hover{
    color: tomato;              /* submenu words coloured*/
}    



.first{
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background: #FFE6CA;
}
 .first::-webkit-scrollbar {
    display: none;
} 


.second{
    height: 60vh;
}


.third{
    height: 70vh;
}


.fourth{
    height: 7 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.fifth{
    height: 60vh;
}


.container{
    display: flex;
    flex-direction: row;
    
}

/* image border circle */
.product {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5rem;
}

.container2{
    margin-top: 1rem;
    flex: 0 0 auto;
    width: 310px;
    height: 450px;
    margin-right: 40px;  
}


.discount-tag {
    position: absolute;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    color: #ff7d7d;
    top: 10px;
    text-transform: capitalize;
}


.images{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;   
}



.btn{
    margin-top:20px;
}

.container3{
    display: flex;
    flex-direction: row;
    
}


.container4 {
    display: flex;
    flex-direction: row;
    
}



/*BLUE BAR*/
.main{
    display: flex;
    height: 300px;
    background-color: #ECFBFC;
}
.outer{
    text-align: center;
    padding: 3%;
    justify-content: center;
    width: 50%;
}
.outer1{
    text-align: center;
    padding: 3%;
    justify-content: center;
    width: 50%;
    font-size: 20px;
}
.outer2{
    text-align: center;
    padding: 3%;
    justify-content: center;
    width: 50%;
    font-size: 20px;
}



.btn a
{
    text-decoration: none;
    color: black    ;
}

.foot3{
    background-color: #383838 ;
    color: white;
    padding-top: 14px;
    height:8vh;
    width: 10bh;
}


/* CSS Button Generator */

.btn {
    background: #8f878f;
    background-image: -webkit-linear-gradient(top, #8f878f, #7a757a);
    background-image: -moz-linear-gradient(top, #8f878f, #7a757a);
    background-image: -ms-linear-gradient(top, #8f878f, #7a757a);
    background-image: -o-linear-gradient(top, #8f878f, #7a757a);
    background-image: linear-gradient(to bottom, #8f878f, #7a757a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #fffcff;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }





.contain
{
     max-width: 1270px;
     margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style: none;
}
.footer
{
    background-color: #21262b;
    padding: 70px 0px;
    height: 435px;
}
.foot-col
{
     width: 25%;
     padding: 0 10px;
}
.foot-col h3
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px   ;
    font-weight: 500;
    position: relative;

}
.foot-col h3::before
{
    content: '' ;
    position: absolute;
    left:90px ;
    bottom: -12px;
    background-color:#e91e63 ;
    height: 2px;
    box-sizing: border-box;
    width: 100px;

}
.foot-col ul li:not(:last-child)
{
    margin-bottom: 5px;
}
.foot-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.foot-col ul li a:hover
{
    color: #ffffff;
    padding: 3px;

}
.foot1
{
    text-align: center;
    padding-top: 30px;
    font-size: 18px;

}
.foot1 a
{
    text-decoration: none;
    color: #ffffff;
}
.foot1 p
{
    color: #FCD307;
}
.foot2
{
justify-content: center;
display: flex;
padding-top: 30px;
padding-left: 120px;
padding-bottom: 20px;
}

.foot2 a
{
    display: inline-block;
    margin: 0 100px 20px 0;
    text-align: center;
    line-height: 100px;
    border-radius: 10%;
    color: #f8f6fa;
    
}

.foot3{
    background-color: #0e0c72a2;
    width: 100%;
    /* margin-left:330px ; */
    color: #000033;
    
    
}
.bottom-container h2
{
    margin-left: 50px;
}
.bottom-container i
{
    padding-top: 20px;
    width: 150px;
}

/* Bottom container reach us at */
.bottom-container{ 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FCF9EA;
}

.footer-link {
    margin-left: 3rem;
}

.footer-link a {
    margin-top: 2rem;
}




 /* responsive*/

@media(max-width: 600px)
{
    .foot-col
    {
        width: 100%;
    }
}
@media(max-width: 1300px)
{
    .bottom-mid{
        width: 60%;
    }
}
























/* 



.first{
    flex: 0 0 auto;
    width: 350px;
    height: 420px;
    margin-right: 40px; 
    margin-top: 1rem;
    /* padding: 0 51vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;  */

/* .first::-webkit-scrollbar {
    display: none;
} 
.second{
    height: 60vh;
}


.third{
    height: 70vh;
}


.fourth{
    height: 7 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.fifth{
    height: 60vh;
}


.container{
    display: flex;
    flex-direction: row;
    
}

/* image border circle 
.product {
    width:300px;
    height: 340px;
    object-fit: cover;
    border-radius:50%;
}

.product1 {
    width:300px;
    height: 340px;
    object-fit: cover;
    border-radius:50%;
}

/* .product1 {
    width:300px;
    height: 340px;
    object-fit: cover;
    border-radius:50%;
} 


.btn{
    margin-top:20px;
}

.container3{
    display: flex;
    flex-direction: row;
    
}

 /* ///////////////////////////////////////////////////////////////// finL CHANGE 
.container2{
    /* display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    overflow: hidden;    
}


.container22 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    overflow: hidden;
}



.container4 {
    display: flex;
    flex-direction: row;
    
}

 /* ///////////////////////////////////////////////////////////////// */

 /*  changes in images discount tag  

.discount-tag {
    position: absolute;
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    color: #ff7d7d;
    left: 10px;
    top: 10px;
    text-transform: capitalize;
} */
